
// font-families
.helvetica{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.helvetica-light{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
}

// site colors

@darkblue: #020F3C;
@blue: #205FDC;
@lightblue: #4ABCED;
@green: #3CD070;

@grey1: #F9FAFB;
@gray1: @grey1;
@grey2: #F2F3F4;
@gray2: @grey2;
@grey3: #DDE2E7;
@gray3: @grey3;
@fontgrey: #A0A0A0; //#A5A39F;
@fontgray: @fontgrey;
@white:#fff;

@facebook:#5576B5;
@twitter:#59ADEB;
@google: #D7543A;

// a tag styles

a{
  &:hover{
    text-decoration: none;
  }
}

// button styles

.btn{

  &:hover{

  }
}
